# -- Site Configuration --
# Refer to the theme docs for more details about each of these parameters.
# https://blowfish.page/docs/getting-started/

theme = "blowfish" # UNCOMMENT THIS LINE
baseURL = "https://DoOoOoGe.github.io"

# languages
defaultContentLanguage = "zh-cn"
languageCode = "zh-cn"
languageName = "Simplified Chineses (China)"
weight = 1
title = "DoOoOoGes_Blog"

hasCJKLanguage = true

pluralizeListTitles = "true" # hugo function useful for non-english languages, find out more in  https://gohugo.io/getting-started/configuration/#pluralizelisttitles

enableRobotsTXT = true
summaryLength = 0

buildDrafts = false
buildFuture = false

enableEmoji = true

# googleAnalytics = "G-XXXXXXXXX"

[params]
  displayName = "zh-cn"             # 当前语言在页面上显示的名称
  isoCode = "cn"                    # 当前语言的国际代码
  dataFormat = "2006 年 1 月 2 日"   # 时间格式
  # logo = 

  [params.author]                   # 作者信息
  name = "DoOoOoGe"                 # 名字
  image = "images/author_image.jpg"                       # 头像
  # email =
  # headline =                      # 座佑名
  links = [                         # 账号链接
    { github = "https://github.com/DoOoOoGe" },
    { bilibili = "https://space.bilibili.com/109388499" },
  ]
  

[pagination]
  pagerSize = 100

[imaging]
  anchor = 'Center'

[taxonomies]
  tag = "tags"
  category = "categories"
  author = "authors"
  series = "series"

[sitemap]
  changefreq = 'daily'
  filename = 'sitemap.xml'
  priority = 0.5

[outputs]
  home = ["HTML", "RSS", "JSON"]

[related]
  threshold = 0
  toLower = false

    [[related.indices]]
        name = "tags"
        weight = 100

    [[related.indices]]
        name = "categories"
        weight = 100

    [[related.indices]]
        name = "series"
        weight = 50

    [[related.indices]]
        name = "authors"
        weight = 20

    [[related.indices]]
        name = "date"
        weight = 10

    [[related.indices]]
      applyFilter = false
      name = 'fragmentrefs'
      type = 'fragments'
      weight = 10
